<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <!-- Vinculando Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .question-item {
            cursor: pointer;
            padding: 10px;
        }
        .question-item:hover {
            background-color: #116dc9; /* Color de fondo al pasar el mouse */
        }
        #pregunta {
            height: 60px; /* Aumentar la altura del campo de texto */
        }
    </style>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="mb-4">¡Hola! Soy tu chatbot</h1>
        <div id="chat-box" class="chat-box border p-3 mb-3"></div>
        <h3 class="mt-4">Preguntas Frecuentes</h3>
        <ul id="preguntas-frecuentes" class="list-group mb-5"></ul> <!-- Contenedor para preguntas frecuentes -->
        <div class="input-group mb-3">
            <input type="text" id="pregunta" class="form-control" placeholder="Hazme una pregunta...">
            <div class="input-group-append">
                <button id="send-btn" class="btn btn-primary">Enviar</button>
            </div>
        </div>

        <img src="{{ url_for('static', filename='image.png') }}" alt="Estudiante Icono" id="estudiante-icon" class="img-fluid mb-4">

        <div class="flujo-container text-center">
            <button class="btn btn-info mb-3" onclick="mostrarFlujo()">Ver flujo del proceso de titulación</button>
            <div id="canva-flujo" class="mb-3" style="display: none;">
                <iframe loading="lazy" src="https://www.canva.com/design/DAGTZj7QawA/Kcw9R7fZ2lgKC6VCoSDthA/view?embed" allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
                <a href="https://www.canva.com/design/DAGTZj7QawA/Kcw9R7fZ2lgKC6VCoSDthA/view?utm_content=DAGTZj7QawA&utm_campaign=designshare&utm_medium=embeds&utm_source=link" 
                    target="_blank" rel="noopener">Presentación Marco Teórico Ciencia Ilustrativo colorido</a> de Maria Del Carmen Salazar Torres
            </div>
        </div>
    </div>

    <!-- Vinculando Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script> <!-- Vincular script JS separado -->
</body>
</html>
