<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <!-- Vinculando Bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>
    <div class="container text-center mt-5">

        <img src="{{ url_for('static', filename='unl.png') }}" alt="Estudiante Icono" id="estudiante-icon"
            class="img-fluid mb-4">

        <h1 class="mb-4" style="font-weight: bold; font-size: 2.0em;">¡Hola! Soy tu chatbot</h1>

        <!-- Caja del chat -->
        <div id="chat-box" class="chat-box border p-3 mb-3"></div>

         <!-- Entrada de la pregunta y botón de enviar -->
        <div class="input-group mb-3 position-relative">
            <input type="text" id="pregunta" class="form-control" placeholder="Hazme una pregunta..."
                aria-label="Hazme una pregunta...">
            
            <div class="input-group-append">
                
                <button id="send-btn" class="btn-send position-absolute">
                    <i class="fas fa-paper-plane"></i> <!-- Ícono de flecha de envío -->
                </button>
            </div>
            
        </div>
        <h3 class="mt-4" style="font-weight: bold; font-size: 2.0em;">Preguntas Frecuentes</h3>
        <ul id="preguntas-frecuentes" class="list-group mb-5"></ul> <!-- Contenedor para preguntas frecuentes -->


        <div class="flujo-container text-center">
            <h3 class="mt-4" style="font-weight: bold; font-size: 1.7em;">Opciones adicionales</h3>
            <button class="btn btn-info mb-3" onclick="mostrarFlujo()">Guía del Proceso de Titulación</button>
            <!-- Botón para mostrar el diagrama -->
            <button class="btn btn-info mb-3" onclick="mostrarDiagrama()">Diagrama del Proceso de Titulación</button>

            <!-- Imagen del diagrama que estará oculta por defecto -->
            <img id="diagramaTitulacion" src="/static/diagrama.jpg" alt="Diagrama del proceso de titulación"
                style="display: none; width: 100%; max-width: 1200px; margin-top: 20px;" />
            <div id="canva-flujo" class="mb-3" style="display: none;">
                <iframe loading="lazy" src="https://www.canva.com/design/DAGTZj7QawA/Kcw9R7fZ2lgKC6VCoSDthA/view?embed"
                    allowfullscreen="allowfullscreen" allow="fullscreen"></iframe>
                <a href="https://www.canva.com/design/DAGTZj7QawA/Kcw9R7fZ2lgKC6VCoSDthA/view?utm_content=DAGTZj7QawA&utm_campaign=designshare&utm_medium=embeds&utm_source=link"
                    target="_blank" rel="noopener"></a>
            </div>
        </div>
    </div>

    <!-- Vinculando Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script> <!-- Vincular script JS separado -->

</body>

</html>